# Ignore Python bytecode files
*.pyc
__pycache__/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore environment files
.env

# Ignore data files
data_files/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore visual studio code files
.vscode/

